*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-yellow: #FFBA00;
    --color-white: #f1f1f1;
    --color-black: #010101;
}

img{
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: 'Oswald', sans-serif;
}

/* estilos gerais */

.button {
    display: block;
    color: var(--color-black);
    background: var(--color-yellow);
    padding: 1rem 2rem;
}

/* container */

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.container-intro-header {
    width: 100%;
    background: url('/src//images/bg-intro.jpg') no-repeat center center;
    background-size: cover;
}

/* HEADER */

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
}

.logo {
    min-width: 60px;
}

.navbar-header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
}

.navbar-header ul li a{
    font-family: 'DM Sans', sans-serif;
    color: var(--color-white);
    font-size: 1.6rem;
}

.navbar-header ul li a:hover{
    transition: .3s ease-in-out;
    color: var(--color-yellow);
}

.navbar-header .button {
    font-weight: 500;
    display: block;
    color: var(--color-black);
    background: var(--color-yellow);
    padding: 1.2rem 2rem;
    border-radius: 3px;
}

.navbar-header .button:hover {
    background: #1b1a1a;
}

/* introduction */


.introduction {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    background: rgba(0, 0, 0, 0);
}

.hbg-intro{
    max-width: 40%;
}

.introduction-text {
    max-width: 60%;
}

.introduction-text h1 {
    font-size: 5.8rem;
    line-height: 1.4;
}

.introduction-text h1::after {
    content: "";
    width: 150px;
    height: 3px;
    background: var(--color-yellow);
    display: block;
    margin: 3.2rem 0;
}


.introduction-text p{
    font-size: 1.6rem;
    color:#9CB4BA;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 2rem;
}

.introduction-elements {
    display: flex;
    align-items: center;
    gap: 6.4rem;
}

.introduction-elements li span{
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    margin-top: 1rem;
    text-align: center;
}

.introduction-text a{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 5rem;
    background: var(--color-yellow);
    margin-top: 3rem;
    border-radius: 2px;
    padding: 1rem 3rem;
    color: var(--color-black);
}

.introduction-text a:hover{
    background-color: #1b1a1a;
    color: var(--color-yellow);
    transition: .3s ease-in-out;
}

.cardapio-intro {
    max-width: 900px;
    margin: 9.6rem auto;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.card-cardapio-intro {
    width: min(50%, 400px);
    height: 125px;
    overflow: hidden;
    border-radius: 8px;
}

.card-cardapio-intro:hover {
    transform: scale(1.05);
    transition: .4s;
}


.card-hbg, .card-cerveja-intro{
    display: flex;
    align-items: center;
    background-color: var(--color-yellow);
}

.card-hbg img, .card-cerveja-intro img{
    position: relative;
    top: 30px;
    left: -25px;
}

.card-text-intro {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.card-text-intro h2{
    font-size: 2.4rem;
    text-transform: uppercase;
}

.card-cerveja-intro {
    background-color: #007936;
}

.card-text-intro p {
    font-size: 1.4rem;
}

.card-text-intro a{
    font-size: 1.6rem;
    color: var(--color-black);
    margin-top: 10px;
}

.card-text-intro a:hover{
    color: #007936;
    transition: .3s;
}

.card-cerveja-intro a:hover{
    color: var(--color-yellow);
    transition: .3s;
}

.container-cards-pedido {
    max-width: 1150px;
    margin: 0 auto 12rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.card-desconto {
    width: min(50%, 560px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 8px;
    background-color: #171717;
}

.card-desconto p{
    font-family: 'DM Sans', sans-serif;
    color: var(--color-yellow);
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
}

.card-desconto h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
    max-width: 300px;
    margin-bottom: 1rem;
}

.card-desconto span{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    color: #9CB4BA;
    text-transform: uppercase;
    display: block;
    margin-bottom: 2rem;
}

.card-desconto a{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    color: var(--color-yellow);
    display: block;
}
.card-desconto a:hover{
    transition: .3s;
    transform: scale(1.05);
}

.about {
    width: min(90%, 1150px);
    margin: 0 auto 12rem auto;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.about-text h2 {
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.about-text h2::after {
    content: "";
    width: 150px;
    height: 3px;
    background: var(--color-yellow);
    display: block;
    margin: 3.2rem 0;
}

.about-text p{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    color: #9CB4BA;
}

.about-text a {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--color-black);
    background-color: var(--color-yellow);
    margin-top: 3rem;
    display: inline-block;
    padding: 1.2rem 3rem;
    border-radius: 3px;
}

/* faça pedido */

.pedido {
    max-width: 1150px;
    margin: 0 auto;
}

.pedido h1{
    font-size: 4.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.pedido h1::after{
    content: "";
    width: 150px;
    height: 3px;
    background: var(--color-yellow);
    display: block;
    margin: 3.2rem auto;
}

.pedido p{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #9CB4BA;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}


.links-pedido{
    max-width: 500px;
    margin: 4rem auto 2rem auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 9rem;

} 

.links-pedido a{
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--color-black);
    padding: 1.4rem 3rem;
    border-radius: 3px;
    background-color: var(--color-yellow);
}

.links-pedido a:hover{
    transition: .3s;
    transform: scale(1.05);
}

.container-cardapio {
    max-width: 1150px;
    margin: 0 auto;
    background: #fff;
    color: var(--color-black);
    border-top: 8px solid #A47043;
    border-bottom: 8px solid #A47043;
    padding: 4rem;
}

.cardapio h1{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Allura', cursive;
    color: #A47043;
    font-style: italic;
    text-align: center;
}

.cardapio-subtitle {
    position: relative;
    top: -30px;
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.card-cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dashed var(--color-yellow);
    padding: 4rem 0;
}

.card-cardapio article h2{
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #A47043;
    font-weight: 500;
}

.card-cardapio article span:first-of-type{
    display: block;
    font-size: 1.4rem;
    color: var(--color-yellow);
    padding: 1rem 0;
}

.card-cardapio ul li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    color: #5F5961;
    margin: 1rem 0;
    list-style-type: square;
}

.price {
    color: #5F5961;
    display: inline-block;
    font-size: 2rem;
}

.button-cardapio {
    position: relative;
    left: -30px;
    font-size: 1.6rem;
    color: var(--color-white);
    background: var(--color-black);
    display: inline-block;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    margin: 40px 10px;
}

.adicionais-bebida h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
}

.pre-footer {
    max-width: 1150px;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 0.05rem solid #5F5961;
}

.pre-footer h2{
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.pre-footer p{
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1rem 0;
}

.footer-logo p {
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: var(--color-yellow);
}

.footer p{
    font-size: 1.4rem;
    color: var(--color-black);
    font-weight: 400;
}